@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Common Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
}

.special {
  color: #ff5400;
}

.heading-text {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.primary-btn {
  border: none;
  padding: 14px 25px;
  background-color: #ff5400;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.primary-btn:hover {
  transform: scale(1.05);
  background-color: #ff1e00;
}

/* NavBar Styles */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.nav-bar .logo h2 {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}

.nav-bar .nav-items ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-bar .nav-items ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.4s;
}
.nav-bar .nav-items ul li a:hover {
  color: #ff5400;
}

.nav-bar .menu-icon {
  display: none;
}

/* Banner Section Styles */

.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/banner-bg.png");
  min-height: 500px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner .select {
  position: relative;
}
.banner .select i {
  position: absolute;
  top: 18px;
  right: 11px;
  color: rgba(19, 19, 24, 0.7);
}

.banner h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 800;
}

.banner .description {
  color: #fff;
  font-weight: 400;
  width: 676px;
  text-align: center;
  margin-bottom: 25px;
}

.banner .selection {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.banner .selection input {
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 170px;
}
.banner .selection input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.banner .selection input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.575);
}

.banner .selection button {
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  width: 170px;
  background-color: #ff5400;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner .selection button:hover {
  background-color: #ff1e00;
}

/* Popular Tour Section styles */

.popular-tour {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 100px auto;
}

.popular-tour ul li {
  margin: 10px 0 0 20px;
}

.popular-tour .description {
  margin-top: 15px;
}

.popular-tour button {
  margin-top: 25px;
}

/* Destination Section Styles */

.section-heading {
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
}

.section-heading .description {
  margin: 20px 0;
}

.gallery-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 285px 300px;
  margin-bottom: 50px;
}

.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.box-1 {
  grid-column: span 6;
}
.box-2 {
  grid-column: span 6;
}
.box-3 {
  grid-column: span 4;
}
.box-4 {
  grid-column: span 5;
}
.box-5 {
  grid-column: span 3;
}
.box-6 {
  grid-column: span 6;
}
.box-7 {
  grid-column: span 6;
}

/* Why Choose us Styles */

.why-choose-us {
  margin-bottom: 50px;
}

.services {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.services .card {
  padding: 32px;
  border-radius: 16px;
  width: 49%;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.services .card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 30px 0 16px;
}

.services .card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}

.services .card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}

.services .card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Deals and Discounts Section */

.deals .section-heading {
  margin-bottom: 40px;
}

.package-container {
  padding: 54px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  margin-bottom: 20px;
}

.package-1,
.package-3 {
  background-image: url("../Images/Group-39.png");
  justify-content: right;
}

.package-2 {
  background-image: url("../Images/Group-40.png");
  justify-content: left;
}

.discount-packages .details-section {
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 60%;
  padding: 40px;
}

.details-section .package-info {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 10px;
}

.details-section .package-info i {
  color: #ff5400;
  margin-right: 3px;
  font-size: 18px;
}

.details-section h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.details-section .description {
  margin: 15px 0;
}

.details-section .price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.deals .button {
  display: flex;
  justify-content: center;
}

/* A Simple Perfect Section Styles */

.simple-place {
  display: flex;
  margin-top: 80px;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.simple-place .left-side h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}

.simple-place .left-side ul li {
  margin: 10px 0 10px 20px;
  font-weight: 600;
  color: #131318;
}

.simple-place .right-side {
  width: 140%;
}
.simple-place .right-side iframe {
  width: 100%;
  border-radius: 16px;
}

/* Extra Section Styles */

.extra-section {
  margin-top: 70px;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  margin: 50px auto 100px;
}

.profile-container .profile {
  text-align: center;
}

.profile-container .profile .description {
  font-weight: 700;
  font-size: 20px;
}
.profile-container .profile h3 {
  font-size: 23px;
  font-weight: 800;
  margin: 5px 0 10px;
}

.profile-container .profile-pic {
  width: 250px;
  height: 250px;
  margin: 0px auto 20px;
}

.profile-container .profile-pic img {
  width: 100%;
  border-radius: 50%;
}

.profile-container .socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.profile-container .socials a {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #ff5400;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s;
}

.profile-container .socials a i {
  font-size: 14px;
  line-height: 30px;
}

.profile-container .socials a:hover {
  transform: scale(1.08);
  background-color: #ff1e00;
}

/* Newsletter Section Style */

.newsletter {
  display: flex;
  gap: 24px;
  height: 420px;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}

.newsletter .left-card {
  height: 100%;
  border: 1px solid #ff5400;
  border-radius: 16px;
  padding: 40px;
  box-sizing: border-box;
}

.newsletter .left-card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.newsletter .left-card hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  margin: 24px 0;
}
.newsletter .left-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.newsletter .left-card form input {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: rgba(19, 19, 24, 0.05);
  border: none;
  outline: none;
}

.newsletter .left-card form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.newsletter .left-card form input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.575);
}

.newsletter .left-card form button {
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  background-color: #ff5400;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  transition: background-color 0.3s;
}

.newsletter .left-card form button:hover {
  background-color: #ff1e00;
}

.newsletter-img {
  position: relative;
}

.newsletter-img img {
  object-fit: cover;
}

.saving-card {
  background-color: #ff5400;
  padding: 15px 25px;
  width: 250px;
  border-radius: 16px;
  transform: rotate(-19.628deg);
  text-align: center;
  position: absolute;
  right: 5px;
  bottom: 50px;
}

.saving-card p {
  font-size: 20px;
  color: #fff;
  font-weight: 200;
}

.saving-card h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}

/* Footer Section Styles */

footer {
  text-align: center;
  padding: 70px 250px;
  background-color: rgba(19, 19, 24, 0.05);
  /* margin-top: 100px; */
}

.footer-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-container .logo img {
  width: 40px;
}

.footer-container p {
  max-width: 750px;
  margin: 20px auto;
}

.footer-container .social-links a {
  color: #131318;
  font-size: 25px;
  margin-right: 15px;
}

.footer-container hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  margin: 50px auto;
}

.footer-container .copyright {
  color: #131318;
  font-size: 16px;
  font-weight: 400;
}
